.play_top h1{
    text-align:center;
    padding:35px 0 30px;
    font-size:40px;
}
.play-nav{
    text-align:center;
    line-height:1.7;
    font-size:0;
}
.play-nav a{
    display:inline-block;
    padding-bottom:12px;
    width:165px;
    font-size:18px;
    color: #aeaeac;
}
.play-nav a.on{
    border-bottom:4px #fe5431 solid;
    padding-bottom:8px;
    color: #fe5431;
}
/*最新*/
.new_content{
    width: 100%;
    background: #f7f7f7;
}
.hot_content{
    width: 100%;
    background: #f7f7f7;
}
.list-box{
    width: 100%;
    background: #f7f7f7;
}
.play_box{
    padding-top: 25px;
}
.play_box li a img{
    border-radius: 5px 5px 0 0 ;
}
.play_box ul li{
    width:220px;
    height:231px;
    line-height:21px;
    margin:0 37px 20px 0;
    float:left;
    border:1px solid #e6e9e9;
    border-radius:5px;
}
.play_box ul li:nth-child(4n+4){
    margin-right:0;
}
.play_box ul li{
    background:#fff;
}
.play_box ul li a{
    color:#474747;
}
.play_box li .info{
    padding:7px 10px 10px;
}
.play_box .info .title{
    font-size: 14px;
}.play_box .info .title span{
    color:#a3a3a3;
    font-size: 12px;
}
.play_box .info .price{
    color:#fe5341;
}
.play_box .info .tip{
    color:#a3a3a3;
    padding: 13px 0;
}
.icon .look{
    background:url(../../img/reply.png) no-repeat left center;
}
.icon .xin{
    background:url(../../img/xin.png) no-repeat left center;
}
.icon span{
    display:inline-block;
    vertical-align:middle;
    padding-left:14px;
    margin-left:3px;
}
/*品类*/
.lists{
    padding-bottom:5px;
    padding-top: 25px;
}

.lists li{
    margin-bottom:35px;
    border:1px solid #ebecec;
    border-radius:6px;
    background: #fff;
}
.lists li dt{
    position:relative;
    padding:19px 0 19px 30px;
    font-size:16px;
    line-height:25px;
}
.lists li dt:before{
    content:'';
    position:absolute;
    left:0;
    top:19px;
    display:block;
    width:6px;
    height:25px;
}
.lists li dd{
    padding:0 13px 18px;
}
.lists li dd:after{
    clear:both;
    content:"";
    display:block;
    height:0;
    visibility:hidden;
}
.lists li dd:nth-child(3){
    border-top:1px dashed #e0e0e0;
    padding-bottom:35px;
}
.lists dd .list{
    float:left;
    width:150px;
    text-align:center;
    font-size:14px;
    margin-top:17px;
}
.lists li dd:last-child .list{
    margin-top:0;
}
.lists dd .list .info{
    padding-top:12px;
}
.shop li:hover img{
    animation:fade 1s ease-in infinite;
    -moz-animation:fade 1s ease-in infinite;
    -webkit-animation:fade 1s ease-in infinite;
}
@-webkit-keyframes fade{
    0%,100%{
        opacity:1;
    }
    50%{
        opacity:0.6;
    }
}
@-moz-keyframes fade{
    0%,100%{
        opacity:1;
    }
    50%{
        opacity:0.6;
    }
}
@keyframes fade{
    0%,100%{
        opacity:1;
    }
    50%{
        opacity:0.6;
    }
}
.lists li dd a:hover{
    color:#fe5431;
}
.playMore {
    text-align: center;
    padding: 50px 0 ;
}
.playMore .more-btn {
    padding-left: 24px;
    background: url(../../img/more.png) no-repeat left center;
    color: #fe5341;
}
.playMore .loading {
    background-image: url(../../img/loading-icon.gif);
}
